ion-tabs.tabs-dark.tabs-icon-only
    ion-tab.main-tab(title='dashboard' icon-on='ion-ios7-plus' icon-off='ion-ios7-plus-outline' href='#/app/calm')
        ion-nav-view(name='calm')
    ion-tab.main-tab(title='tab-friends' icon-on='ion-ios7-chatbubble' icon-off='ion-ios7-chatbubble-outline' href='#/app/profile')
        ion-nav-view(name='profile')